body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, auto);
}

/* -----------head container------------ */

.site_top {
  height: 150px;
  background-color: gray;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(3fr 2fr);
  grid-template-rows: 1fr;
}

.site_menu {
  background-color: #334a8a;
  grid-column: 4 /9;
  grid-row: 2/3;
}

/* -----------menu container------------ */
.menu_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  /* gap & padding do oddzielenia kontenera menu od site_menu */
  gap: .4em;
  padding: 5px;
  position: sticky;
  text-align: center;
}

.menu_position {
  background-color: #fff;
  padding: 5px;
  height: 60px;
}

.menu_position i {
  transition: font-size .3s;
  transition-delay: 200ms;
  font-size: 60px;
  right: 30%;
}

.menu_position:hover i {
  transition: font-size .3s;
  font-size: 40px;
}

.menu_position p {
  transition: color .2s;
  transition-delay: 100ms;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: transparent;
}

.menu_position:hover p {
  transition: color .3s;
  transition-delay: 100ms;
  color: black;
}

.menu_position:active {
  background-color: lightblue;
}

/* -----------bottom container------------ */

.site_bottom {
  height: 2000px;
  background-color: #182d68;
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

/* -----------footer container------------ */

.site_footer {
  background-color: #18685d;
  grid-column: 1 / -1;
  grid-row: 4 / 5;
}