body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333333;
  color: rgb(216, 216, 216);
}

p, h1, h2, h3, h4 {
  margin: 0;
}

button {
  background-color: rgb(0, 0, 0, .3);
  color: rgb(216, 216, 216);
  cursor: pointer;
  border-style: none;
  text-align: center;
}

button:hover {
  background-color: rgb(0, 0, 0, .5);
}

button:active {
  background-color: black;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, auto);
}

span {
  font-style: italic;
}

a, a:visited, a:active, a:hover {
  color:rgb(216, 216, 216);
  text-decoration: none;
}

/* -----------head container------------ */

.site_top {
  display: grid;
  grid-template-columns: 2px 1fr 2px;
  height: 150px;
}

.site_top_title {
  grid-column: 2;
  grid-row: 2;
  font-size: 35px;
  text-align: center;
  animation-name: sliding_title;
  animation-duration: 1.5s;
  animation-delay: .5s;
}

/* -----------menu container------------ */

.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 80px;
  padding-left: 100px;
  padding-right: 100px;
  gap: 1.5%;
  text-align: center;
}

.menu_position {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 80px;
}

.menu_position i {
  transition: font-size .3s;
  transition-delay: 200ms;
  font-size: 60px;
  right: 30%;
}

.menu_position:hover i {
  transition: font-size .3s;
  font-size: 40px;
}

.menu_position p {
  transition: color .2s;
  transition-delay: 100ms;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding-top: 5px;
  color: transparent;
}

.menu_position:hover p {
  transition: color .3s;
  transition-delay: 100ms;
  color: rgb(216, 216, 216);
}

/* -----------site content container------------ */

.site_bottom {
  background-color: #333333;
  padding: 20px 100px 40px 100px;
  font-size: 22px;
}

.site_bootom_container {
  background-color: rgb(0, 0, 0, .3);
  padding: 25px 20px;
  height: 550px;
}

/* -----------site home style------------ */

#home_content {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 550px;
}

.hello {
  grid-column: 1/2;
  padding: 0px 20px 0px 20px;
  border-right: 1px solid rgb(216, 216, 216);
}

.hello h2 {
  padding-bottom: 20px;
}

.experience {
  grid-column: 2/3;
  padding: 0px 20px 0px 20px;
  border-right: 1px solid rgb(216, 216, 216);
}
#future_experience {
  margin-left: 0;
  padding-left: 15px;
}

.future_experience {
  grid-column: 3/4;
  padding: 0px 20px 0px 20px;
}

#experience {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

#experience li ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 15px;
  padding-bottom: 15px;
}


#experience li ul li, #future_experience li {
  list-style-type: square;
  margin-left: 8px;
  padding: 0px 10px 5px 10px;
}

/* -----------site about style------------ */

#about_content_text ul {
  display: none;
}

.about_content_title {
  grid-column: 1/-1;
  grid-row: 1/2;
  text-align: center;
  padding: 0;
}

.about_content_title p {
  padding-bottom: 5px;
}

.about_content_title p:last-child {
  padding-top: 20px;
  padding-bottom: 15px;
}

.about_content_buttons {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: 1fr;
}

.about_content_buttons button {
  border-left: 1px solid rgb(216, 216, 216);
  height: 50px;
  padding: 5px 3px 5px 4px;
  font-size: 16px;
  font-weight: bold;
}
.about_content_buttons button:first-child {
  border-left: none;
}

.about_content_text {
  grid-column: 1/-1;
  grid-row: 3/4;
}

.about_text li {
  list-style-type: square;
  margin-top: 20px;
}

/* -----------site portfolio style------------ */

#portfolio_content {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0;
}

.portfolio_title {
  grid-column: 1/-1;
  text-align: center;
  margin: 0;
  padding: 0;
}

.portfolio_content {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  padding: 0px 20px 0px 20px;
}

.portfolio_content h3 {
  padding-top: 50px;
}
/* -----------site contact style------------ */

#contact_content {
  padding-top: 50px;
  font-size: 30px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#contact_content a {
  margin-top: 15px;
  display: flex;
}

.linkedin img, .github img, .instagram  img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#contact_content > img {
  width: 250px;
  height: 250px;
}


/* -----------footer container------------ */

.site_footer {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  background-color: rgb(0, 0, 0, .3);
  padding: 15px;
  text-align: center;
}

.site_footer h4 {
  margin: 0;
}

@keyframes sliding_title {
  0%   {color:rgb(216, 216, 216); padding-left: 0px;}
  25%  {color: rgb(190, 211, 155); padding-left: 200px;}
  50%  {color:rgb(190, 211, 155); padding-left: 0px; padding-right: 0px;}
  75%  {color:rgb(190, 211, 155); padding-right: 200px;}
  100% {color:rgb(216, 216, 216); padding-right: 0px;}
}


/* ===================== responsive design ======================== */
@media all and (max-width: 1430px) {
  .site_bottom {
    font-size: 21px;
    padding: 20px 50px 40px 50px;
  } 

  .menu {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media all and (max-width: 1176px) {
  .site_top {
    height: 70px;
  }

  .site_bottom {
    font-size: 18px;
    padding: 20px 50px 40px 50px;
  } 

  .menu {
    padding-left: 50px;
    padding-right: 50px;
  }

  .about_content_buttons {
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 1fr 1fr;
  }

  .about_content_buttons > button:nth-child(6), button:nth-child(7), button:nth-child(8), button:nth-child(9), button:nth-child(10) {
    border-top: 1px solid rgb(216, 216, 216);
  }

  .about_content_buttons button:nth-child(6){
    border-left: none;
  }

  #contact_content {
    padding-top: 25px;
    font-size: 25px;
  }
  
  #contact_content a {
    margin-top: 15px;
  }
  
  .linkedin img, .github img, .instagram  img {
    width: 25px;
    height: 25px;
    margin-right: 8px;
  }
  #contact_content > img {
    width: 200px;
    height: 200px;
  }

}

@media all and (max-width: 920px) {
  .site_top h1 {
    font-size: 25px;
  }

  .site_bottom {
    font-size: 16px;
    padding: 20px;
  } 

  .site_bootom_container {
    padding: 20px 20px;
  }

  .menu {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hello, .experience, .future_experience {
    padding: 0px 15px 0px 15px;
  }

  #contact_content {
    padding-top: 20px;
    font-size: 20px;
  }

  #contact_content > img {
    width: 180px;
    height: 180px;
  }
}

@media all and (max-width: 700px) {

  .site_top h1 {
    font-size: 18px;
  }

  .site_bottom {
    font-size: 14px;
    padding: 5px;
  } 

  .site_bootom_container {
    height: auto;
  }

  #home_content {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  
  .hello, .experience, .future_experience {
    padding: 0px 10px 0px 10px;
  }

  .hello {
    grid-column: 1/-1;
    grid-row: 1/2;
    border-right: none;
  }

  .hello h2, .hello p {
    padding-bottom: 10px;
  }

  
  .experience {
    grid-column: 1/-1;
    grid-row: 2/3;
    border-right: none;
  }
 
  .future_experience {
    grid-column: 1/-1;
    grid-row: 3/4;
    padding: 0px 10px 0px 10px;
  }

  .about_content_buttons {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5, 1fr);
  }

  .about_content_buttons button {
    border-left: none;
    height: 30px;
    font-size: 12px;
  }

  .about_content_buttons > button:nth-child(6), button:nth-child(7), button:nth-child(8), button:nth-child(9), button:nth-child(10) {
    border-top: none;
  }

  .menu {
    padding-left: 5px;
    padding-right: 5px;
    height: 50px;
  }

  .menu_position {
    padding-top: 5px;
    height: 50px;
  }
  
  .menu_position i {
    font-size: 40px;
  }
  
  .menu_position:hover i {
    font-size: 25px;
  }
  
  .menu_position p {
    font-size: 12px;
  }

  #contact_content {
    padding-top: 10px;
    font-size: 18px;
  }
  
  #contact_content a {
    margin-top: 10px;
  }
  
  .linkedin img, .github img, .instagram  img {
    width: 18px;
    height: 18px;
    margin-right: 6px;
  }

  #contact_content > img {
    width: 150px;
    height: 150px;
  }

  .site_footer h4 {
    font-size: 10px;
  }

  @keyframes sliding_title {
    0%   {color:rgb(216, 216, 216); padding-left: 0px;}
    25%  {color: rgb(190, 211, 155); padding-left: 100px;}
    50%  {color:rgb(190, 211, 155); padding-left: 0px; padding-right: 0px;}
    75%  {color:rgb(190, 211, 155); padding-right: 100px;}
    100% {color:rgb(216, 216, 216); padding-right: 0px;}
  }
}
