body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2a3553;
  ;
}

a:link {
  color: rgb(216, 216, 216);
}

a:visited {
  color: rgb(216, 216, 216);
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, auto);
}

/* -----------head container------------ */

.site_top {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  height: 150px;
  background-image: url("/proby/MainPage/images/top-bg.PNG");
  opacity: .5;
}

/* -----------menu container------------ */
.menu_left {
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  background-image: url(/proby/MainPage/images/menu-bg.PNG);
}

.menu_right {
  grid-column: 5 / 9;
  grid-row: 2 / 3;
  background-image: url(/proby/MainPage/images/menu-bg.PNG);
}

.menu_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 70px;
  /* gap & padding do oddzielenia kontenera menu od site_menu */
  gap: .4em;
  position: sticky;
  text-align: center;
}

.menu_position {
  background-color: rgb(0, 0, 0, .3);
  padding-top: 10px;
  height: 70px;
  text-align: center;
}

.menu_position:hover {
  background-color: rgb(0, 0, 0, .5);
}

.menu_position i {
  transition: font-size .3s;
  transition-delay: 200ms;
  font-size: 60px;
  right: 30%;
}

.menu_position:hover i {
  transition: font-size .3s;
  font-size: 40px;
  color: rgb(216, 216, 216);
}

.menu_position p {
  transition: color .2s;
  transition-delay: 100ms;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  padding-top: 5px;
  color: transparent;
}

.menu_position:hover p {
  transition: color .3s;
  transition-delay: 100ms;
  color: rgb(216, 216, 216);
}

.menu_position:active {
  background-color: black;
}

/* -----------bottom container------------ */

.site_bottom {
  background-color: #2a3553;
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

/* -----------footer container------------ */

.site_footer {
  background-color: #18685d;
  grid-column: 1 / -1;
  grid-row: 4 / 5;
}